[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AdWorldUtils
[access "refs/for/refs/*"]
	read = group user/AdWorldUtils
	push = group user/AdWorldUtils
	label-Code-Review = -2..+2 group user/AdWorldUtils
	label-Verified = -1..+1 group user/AdWorldUtils
	rebase = group user/AdWorldUtils
	removeReviewer = group user/AdWorldUtils
	submit = group user/AdWorldUtils
[access "refs/heads/*"]
	read = group user/AdWorldUtils
	create = group user/AdWorldUtils
	push = +force group user/AdWorldUtils
	pushMerge = group user/AdWorldUtils
[access "refs/tags/*"]
	push = +force group user/AdWorldUtils
	pushTag = group user/AdWorldUtils
	pushSignedTag = group user/AdWorldUtils
